{% load static %}
    <!-- ======= About Section ======= -->
    <section id="about" class="about-mf sect-pt4 route">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="box-shadow-full">
              <div class="row">
                <div class="col-md-6">
                  <div class="row">
                    <div class="col-sm-6 col-md-5">
                      <div class="about-img">
                        <img src="{% static 'core/img/gyser_cv.jpg' %}" class="img-fluid rounded b-shadow-a" alt="">
                      </div>
                    </div>
                    <div class="col-sm-6 col-md-7">
                      <div class="about-info">
                        <p><span class="title-s">Name: </span> <span>Sergey Petrov</span></p>
                        <p><span class="title-s">Profile: </span> <span>programador junior</span></p>
                      </div>
                    </div>
                  </div>
                  <div class="skill-mf">
                    <p class="title-s">Skill</p>
                    <span>PYTHON</span> <span class="pull-right">90%</span>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <span>DJANGO</span> <span class="pull-right">90%</span>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <span>SQL</span> <span class="pull-right">65%</span>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 65%" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <span>JAVA</span> <span class="pull-right">60%</span>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <span>HTML / CSS</span> <span class="pull-right">50%</span>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <span>JAVASCRIPT</span> <span class="pull-right">40%</span>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="about-me pt-4 pt-md-0">
                    <div class="title-box-2">
                      <h5 class="title-left">
                        Sobre mi
                      </h5>
                    </div>
                    <p class="lead">
                      Soy amante del hardware, llevo arreglando notebooks y montando PC's desde los 16 años.
                      Empezó como un simple hobby, que me recuerda a los legos que tenía de niño manteniendo 
                      esa curiosidad de encajar distintas piezas, que a día de hoy lo extrapolo al código.
                    </p>
                    <p class="lead">
                      Estudié en el instituto IES Los Manantiales, donde desarrolle mis habilidades de programar con lenguajes como 
                      Java, PHP y Javascript. Por parte de la maquetación aprendí HTML y CSS. También cuento con la experiencia de implementar
                      sistemas windows/linux del lado servidor y despliegue de redes. 
                      Cuento con un certificado ITE1 y CCNA R&S1 de CISCO teniendo instructores del mismo centro educativo.
                    </p>
                    <p class="lead">
                      Actualmente estoy desarrollando mis habilidades en Python, enfocandome en el framework Django, realizando
                      despliegues desde AWS utilizando sus servicios de Cloud computing tales como EC2, Route 53, S3 y RDS.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End About Section -->
