{% load static %}
    <!-- ======= About Section ======= -->
    <section id="about" class="about-mf sect-pt4 route">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="box-shadow-full">
              <div class="row">
                <div class="col-md-6">
                  <div class="row">
                    <div class="col-sm-6 col-md-5">
                      <div class="about-img">
                        <img src="{% static 'core/img/gyser_cv.jpg' %}" class="img-fluid rounded b-shadow-a" alt="">
                      </div>
                    </div>
                    <div class="col-sm-6 col-md-7">
                      <div class="about-info">
                        <p><span class="title-s">Nombre: </span> <span>Sergey Petrov</span></p>
                        <p><span class="title-s">Perfil: </span> <span>programador junior</span><span>, técnico informático</span></p>
                      </div>
                    </div>
                  </div>
                  <div class="skill-mf">
                    <p class="title-s">Habilidades y Lenguajes</p>
                    <span>PYTHON</span> <!--<span class="pull-right">90%</span> -->
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <span>DJANGO</span>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <span>DOCKER</span>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <span>JAVASCRIPT / TYPESCRIPT / VUE.js</span>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <span>SQL [MySQL, Postgres]</span>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 68%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <span>HTML / CSS / BOOTSTRAP / JQUERY</span>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="about-me pt-4 pt-md-0">
                    <div class="title-box-2">
                      <h5 class="title-left">
                        Sobre mi
                      </h5>
                    </div>
                    <p class="lead">
                      Soy amante del hardware, llevo arreglando notebooks y montando PC's desde los 16 años.
                      Empezó como un simple hobby, que me recuerda a los legos que tenía de niño manteniendo 
                      esa curiosidad de encajar distintas piezas, que a día de hoy lo extrapolo al código.
                    </p>
                    <p class="lead">
                      Estudié en el instituto IES Los Manantiales, donde desarrolle mis habilidades de programar con lenguajes como 
                      <b>Java, PHP, Javascript, Python</b>. Por parte de la maquetación aprendí <b>HTML y CSS</b>. También cuento con la experiencia de implementar
                      sistemas windows/linux del lado servidor y despliegue de redes. 
                      Cuento con un certificado <b>ITE1 y CCNA R&S1 de CISCO</b> teniendo instructores del mismo centro educativo.
                    </p>
                    <p class="lead">
                      Actualmente estoy desarrollando mis habilidades en Python, enfocandome en el framework <b>Django</b>, realizando
                      despliegues desde <b>AWS</b> utilizando sus servicios de Cloud computing (VPS) tales como <b>EC2 y Route 53</b>.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End About Section -->
