<div id="{{idservice}}" class="col-sm-12">
    <div id="services-it" class="title-box text-center">
        <h3 class="title-a">
            ASISTENCIA TÉCNICA | PRECIOS
        </h3>
        <p class="subtitle-a">
            Se cubren las necesidades de montaje, reparación, software, presupuestos, limpieza, instalaciones de equipo informático a medida,
            asistiendo para PYMES como particulares, para oficina y Gaming.
        </p>
        <table class="display-table">
            <tbody>
                <tr>
                    <th class="table-cell">Tabla de precios</th><td class="table-cell">Limpieza, montaje, reparación</td><td class="table-cell">Copias de Seguridad</td><td class="table-cell">Movilidad</td>
                </tr>
                <tr>
                    <td class="table-cell">PC/Sobremesa</td><td class="table-cell">30€</td><td class="table-cell">+5€</td><td class="table-cell">+5€</td>
                </tr>
                <tr>
                    <td class="table-cell">Portatiles/Notebooks</td><td class="table-cell">40€</td><td class="table-cell">+5€</td><td class="table-cell">+5€</td>
                </tr>
            </tbody>
        </table>
        <tfoot>
            <p>
                *Para otro tipo de trabajos como instalaciones de cableado o infraestructuras de equipos contacte conmigo y 
                pida presupuesto sin compromiso.
            </p>
        </tfoot>
        
        <div class="line-mf"></div>
    </div>
</div>