{% load static %}
    <!-- ======= Services Section ======= -->
    <section id="service" class="services-mf pt-5 route">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="title-box text-center">
              <h3 class="title-a">
                Servicios
              </h3>
              <p class="subtitle-a">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
              </p>
              <div class="line-mf"></div>
            </div>
          </div>
        </div>
        <div class="row">

          <div class="col-md-4">
            <div class="service-box">
              <div class="service-ico">
                <span class="ico-circle"><i class="ion-monitor"></i></span>
              </div>
              <div class="service-content">
                <h2 class="s-title">Asistencia Técnica</h2>
                <p class="s-description text-center">
                  Se cubren las necesidades de montaje, reparación, software, presupuestos para equipo informático a medida, 
                  asistiendo para PYMES como
                  particulares, para oficina y Gaming.
                </p>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="service-box">
              <div class="service-ico">
                <span class="ico-circle"><i class="ion-code-working"></i></span>
              </div>
              <div class="service-content">
                <h2 class="s-title">Desarrollo Web</h2>
                <p class="s-description text-center">
                  Si necesitas una imagen de empresa o simplemente algo personal, pideme presupuesto sin compromiso.
                </p>
              </div>
            </div>
          </div>

        

        </div>
      </div>
    </section><!-- End Services Section -->
