{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    
    <div class="content-section">
        <h2>You have been logged out</h2>
        <div class="border-top pt-3">
            <small class="text-muted">
                Already Have An Account?<a class="ml-2" href="{% url 'users-login' %}">Sign In</a>
            </small>
        </div>
        <div class="border-top pt-3">
            <small class="text-muted">
                Need An Account?<a class="ml-2" href="{% url 'users-register' %}">Sign Up Now</a>
            </small>
        </div>
    </div>
{% endblock content %}
    
