<section id="services" class="bg-info">
        
    <div class="card text-center">
      <div class="card-header">
        <ul id="services-nav" class="nav nav-tabs card-header-tabs">
          <li class="nav-item">
            <a id="services-nav-it" class="nav-link active" href="#services-it">Servicio técnico</a>
          </li>
          <li class="nav-item">
            <a id="services-nav-webdev" class="nav-link" href="#services-webdev">Desarrollo Web</a>
          </li>
          <li class="nav-item">
            <a id="services-nav-projects" class="nav-link" href="#services-projects">Proyectos</a>
          </li>
        </ul>
      </div>
      <!-- ==== Services-IT ==== -->
      <div id="services-it" class="title-box">
        <p class="subtitle-a">
            Se cubren las necesidades de montaje, reparación, software, presupuestos, limpieza, instalaciones de equipo informático a medida,
            asistiendo para PYMES como particulares, para oficina y Gaming.
        </p>
        <table class="display-table">
            <tbody>
                <tr>
                    <th class="table-cell">Tabla de precios</th><td class="table-cell">Limpieza, montaje, reparación</td>
                </tr>
                <tr>
                    <td class="table-cell">PC/Sobremesa</td><td class="table-cell">30€</td>
                </tr>
                <tr>
                    <td class="table-cell">Portatiles/Notebooks</td><td class="table-cell">40€</td>
                </tr>
            </tbody>
        </table>
        <tfoot>
          <p>
            * +5€ por copias de seguridad o movilidad
          </p>
            <p>
                * Para otro tipo de trabajos como instalaciones de cableado o infraestructuras de equipos contacte conmigo y 
                pida presupuesto sin compromiso.
            </p>
        </tfoot>
      </div>

      <!-- ==== Services-WEBDEV ==== -->
      <div id="services-webdev" class="title-box text-center">
        <p class="subtitle-a">
          Si necesita una página web o aplicación contacte conmigo para saber que necesidades necesita cubrir, presupuestos
          sin compromiso.
        </p>
        <div class="line-mf"></div>
      </div>          

      <!-- ==== Services-PROJECTS ==== -->
      <div id="services-projects" class="title-box text-center">
        <p class="subtitle-a">
          Proyectos en curso, GitHub, puede consultar <a href="{% url 'blog-home' %}">mi blog</a> para ver mis guias y
          tutoriales.
        </p>
        <div class="line-mf"></div>
      </div>
    </div>
  </section>